* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: auto;
  width: 50vw;
  height: 90vh;
  padding: 20px;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 5em;
}

h2 {
  padding: 10px 0;
}

p {
  font-size: 1.25em;
}

.circle {
  background: linear-gradient(to top right, #FDB171, #FD987D);
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
  float: left;
  margin-right: 15px;

  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  animation: showShape 1.5s forwards 0s;
}

.ellipse {
  background: linear-gradient(to top right, #F17BB7, #AD84E3);
  width: 150px;
  height: 200px;
  float: left;
  margin-right: 15px;

  shape-outside: ellipse(farthest-side closest-side at 50% 50%);
  clip-path: ellipse(farthest-side closest-side at 50% 50%);

  shape-outside: ellipse(closest-side farthest-side at 50% 50%);
  clip-path: ellipse(closest-side farthest-side at 50% 50%);
  animation: showShape 1.5s forwards 0s;
}

.polygon {
  background: linear-gradient(to top right, #86F7CC, #67D7F5);
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 15px;

  shape-outside: polygon(50px 0, 200px 50px, 150px 200px, 0px 150px);
  clip-path: polygon(50px 0, 200px 50px, 150px 200px, 0px 150px);
  animation: showShape 1.5s forwards 0s
}

.div {
  margin-bottom: 100px;
  animation: showDiv 1.5s forwards 0s;
}

@keyframes showShape {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: scale(1) rotate(360deg);
  }
}

@keyframes showDiv {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
